name: "Release on base update"

on:
  push:
    paths:
      - 'release-versions/*'

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Build & test"
        run: |
          echo "done!"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.REPO_SCOPED_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Base Image Update"
